<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Student Profile</title>
</head>

<body>
	
	<div class="container">

		<p class="h4 mb-4">Student Profile </p>
	
		<form action="#" th:action="@{/student/save_profile}"
						 th:object="${student}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{username}" />
			
			<label for="html">Full Name</label>
			<input type="text" th:field="*{studentName}"
					class="form-control mb-4 col-4" > 
		
			<label for="html">AM</label>
			<input type="text" th:field="*{AM}"
					class="form-control mb-4 col-4" >

			<label for="html">Average Grade</label>
			<input type="text" th:field="*{avgGrade}"
					class="form-control mb-4 col-4">

			<label for="html">Preferred Location</label>
			<input type="text" th:field="*{preferredLocation}"
					class="form-control mb-4 col-4" >
					
			<label for="html">Interests</label>
			<input type="text" th:field="*{interests}"
					class="form-control mb-4 col-4" >
					
			<label for="html">Skills</label>
			<input type="text" th:field="*{skills}"
					class="form-control mb-4 col-4" >


			<input class="form-check-input" type="checkbox" id="lookingForTraineeship"
				   th:field="*{lookingForTraineeship}"
				   th:disabled="${student.assignedTraineeship != null}">
			<label class="form-check-label" for="lookingForTraineeship">
				Looking for Traineeship
			</label>


			<input type="hidden" name="lookingForTraineeship"
				   th:value="${student.lookingForTraineeship}"
				   th:if="${student.assignedTraineeship != null}" />


			<label class="form-check-label" for="lookingForTraineeship">
				Looking for Traineeship
			</label>

			<div class="mt-3">
				<button type="submit" class="btn btn-info col-2">
					Save
				</button>
			</div>

		</form>

		<hr>

		<a th:href="@{/student/dashboard}" class="btn btn-success mt-2 text-white">
			Back to Student Dashboard
		</a>
		
	</div>
</body>

</html>